html, body {
  margin: 0;
}

.container {
  position: relative;
}

.pointsInfo-wrapper {
  position: absolute;
  bottom: 70px;
  padding: 15px;
  right: 50px;
  z-index: 9;
  font-family: "open sans", sans-serif;
  background-color: #fff;
  border-radius: 5px;
  color: #fff;
}

.distance-wrapper {
  margin: 10px 10px;
  padding: 10px;
  background-color: rgba(65, 135, 206, 0.94);
  border-radius: 5px;
}

.distance-title {
  font-weight: bold;
}

.distance-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 4px 0;
}

.distance-text {
  min-width: 200px;
  width: 70%;
}

.distance-value {
  min-width: 50px;
  width: 30%;
}

.point-wrapper {
  margin: 10px 10px;
  padding: 10px;
  background-color: rgba(65, 135, 206, 0.94);
  border-radius: 5px;
}

.point-title {
  font-weight: bold;
}

.point-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 4px 0;
}

.address-title {
  font-weight: bold;
}

.address-item {
  max-width: 300px;
}
