<!-- <router-outlet></router-outlet> -->
<div style="position:relative;overflow:hidden;"><a
    href="https://yandex.ru/maps/213/moscow/?utm_medium=mapframe&utm_source=maps"
    style="color:#eee;font-size:12px;position:absolute;top:0px;">Москва</a><a
    href="https://yandex.ru/maps/213/moscow/?ll=37.899909%2C55.759410&utm_medium=mapframe&utm_source=maps&z=10"
    style="color:#eee;font-size:12px;position:absolute;top:14px;">Яндекс.Карты</a><iframe
    src="https://yandex.ru/map-widget/v1/-/CCUEu4XrSA" width="560" height="400" frameborder="1" allowfullscreen="true"
    style="position:relative;"></iframe></div>